---
- hosts: database
  remote_user: pulsys
  become: true
  vars_files:
    - ../group_vars/gcp/dev.yml
    - ../group_vars/mariadbserver/dev.yml
  roles:
    - role: ../roles/mariadb_server

- hosts: omekaapp
  remote_user: pulsys
  become: true
  vars_files:
    - ../group_vars/gcp/dev.yml
    - ../group_vars/mariadbserver/dev.yml
    - ../group_vars/omeka/dev.yml
  roles:
    - role: ../roles/omeka
